{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Artiqo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li> 
                    <li >
                        <form method="post" action="{% url 'logout' %}"  style="margin: 0; padding: 0; display: inline;">
                            {% csrf_token %}
                            <button  type="submit" style="background: none; border: none; padding: 0; font: inherit; color: #ffffff; cursor: pointer; text-decoration: inherit;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li> 
                {% endif %}
            </ul>
        </nav>
    </header> 

    <div class="content">
        {% block content %}
            <p> Users Page</p>
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Django Blog</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>