{% extends "users/base.html" %}

{% block title %}Artiqo{% endblock %}

{% block content %}
    {% for user in users %}
        <div class='products mt-6 px-6 py-12 bg-gray-100 rounded-xl'>

            <h2 class="mb-12 text-2xl text-center" > Newest Products | {{user.username}}'s </h2>

            <div class="grid grid-cols-3 gap-3">
                {% for product in products %}
                    {% if product.user_id == user%}
                        <div>
                            <a href="#">
                                <div> 
                                    <img src="{{product.image.url}}" class="rounded-t-xl">
                                </div>
                                
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-2xl">{{ product.name }}</h2>
                                    <p class="text-gray-500">Price: {{ product.price }}</p>
                                    <a href="{% url 'products:productdetails' product.pk %}" class="text-gray-500">more details</a>
                                </div>
                                
                                <div class="p-6 bg-white rounded-b-xl">
                                    <button > + </button>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="grid grid-cols-3 gap-3">
                <div>
                    <a href="{% url 'neworderart' %}">
                        
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">Order One</h2>
                            <a href="{% url 'neworderart' %}" > + </a>
                        </div>
                      
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}